h1 { color: #CEF0; 
    font-family: 'Rouge Script';
    font-size: 40px; 
    font-weight: normal; 
    line-height: 48px; margin: 0 0 50px; 
    text-align: center; 
	text-shadow: 1px 1px 0.5px #082b34;
	padding-top: 0.5em;
 }

 #container {
  min-width: 400px;
}

 #corrupted {
   min-width: 20px;
 }

#passwords {
    text-align: center;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border: 2px solid #ddd;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15ch;
  }
  
  #passwords td, #passwords th {
    border: 1px solid #ddd;
    padding: 8px;
    font-size: 1.6em;
  }
  
  #passwords tr:nth-child(even){background-color: #f2f2f2;}
  
  #passwords tr:hover {background-color: #ddd;}
  
  #passwords th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #4CAF50;
    color: white;
  }